.file-previewer{
  width: 100%;
  height: 100vh;
}

.p-previewer{
  padding-top: 100px;
}

.ng2-pdf-viewer-container {
  width: auto ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.a-hand{
  cursor: pointer;
}
