<section class="best-wrap p-t-b-80 light-gray" id="extra-feature-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold"> What Best For you</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>

            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-clock-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Get Response Faster</h4>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-4">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-calendar-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Year-Round Availability</h4>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 mb-4 mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-lock-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Security & compliance</h4>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6  mb-lg-0 mb-md-0">
                <div class="card o-hidden text-left">

                    <div class="card-body">
                        <div class="left_icon float-left w-20 p-3 text-center">
                            <i class="eva eva-book-open-outline"></i>
                        </div>
                        <div class="right_content w-70 float-left p-3">
                            <h4 class="card-title font-weight-bold">Automate Invoicing</h4>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>