<section id="teams-wrap" class="worksheet-wrap p-t-b-80 light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12  section-header mb-5">
        <h2 class="font-weight-bold">Elementary Worksheets</h2>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
        <div class="card card-profile-1">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/landing/faces/12.jpg" alt="">
            </div>
            <h5 class="font-weight-medium card-title m-0">Jassica Pearl</h5>
            <p class="mt-0">QA Tester</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="card-footer pl-3">
              <a routerLink="/download"
                 class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">view / download</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
        <div class="card card-profile-1">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/landing/faces/12.jpg" alt="">
            </div>
            <h5 class="font-weight-medium card-title m-0">Jassica Pearl</h5>
            <p class="mt-0">QA Tester</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="card-footer pl-3">
              <a routerLink="/download"
                 class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">view / download</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
        <div class="card card-profile-1">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/landing/faces/12.jpg" alt="">
            </div>
            <h5 class="font-weight-medium card-title m-0">Jassica Pearl</h5>
            <p class="mt-0">QA Tester</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="card-footer pl-3">
              <a routerLink="/download"
                 class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">view / download</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
        <div class="card card-profile-1">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/landing/faces/12.jpg" alt="">
            </div>
            <h5 class="font-weight-medium card-title m-0">Jassica Pearl</h5>
            <p class="mt-0">QA Tester</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="card-footer pl-3">
              <a routerLink="/download"
                 class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">view / download</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
        <div class="card card-profile-1">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/landing/faces/12.jpg" alt="">
            </div>
            <h5 class="font-weight-medium card-title m-0">Jassica Pearl</h5>
            <p class="mt-0">QA Tester</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="card-footer pl-3">
              <a routerLink="/download"
                 class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">view / download</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
        <div class="card card-profile-1">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/landing/faces/12.jpg" alt="">
            </div>
            <h5 class="font-weight-medium card-title m-0">Jassica Pearl</h5>
            <p class="mt-0">QA Tester</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="card-footer pl-3">
              <a routerLink="/download"
                 class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">view / download</a>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</section>


