<nav id="home-header" [ngClass]="{'header-fixed': isFixed}"
     class="navbar navbar-expand-lg text-16 bg-gradient">
    <div class="container">

        <div class="d-flex justify-content-between flex-grow-1 mobile_menu">

            <a class="navbar-brand-two    d-inline-block" routerLink="/">
                <img src="assets/images/landing/lOGO_d/logo2.JPG" alt="logo">
            </a>
            <div class=" text-right">
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    <i class="eva eva-menu-outline text-30 text-white d-none d-md-block"></i>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                </button>
            </div>
        </div>
        <div class="collapse  navbar-collapse flex-grow-1 text-right"
             id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto flex-nowrap">

                <li class="nav-item" (click)="hidemenu()">
                    <a routerLink="/worksheets"  class="nav-link m-2 menu-item nav-active">Worksheets</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a routerLink="/powerpoint" class="nav-link m-2 menu-item nav-active">PowerPoints</a>
                </li>

                <li (click)="hidemenu()" class="nav-item">
                    <a routerLink="/contact" class="nav-link m-2 menu-item">Leave a suggestion</a>
                </li>
              <li (click)="hidemenu()" class="nav-item">
                <a routerLink="/upload" class="nav-link m-2 menu-item">Upload resource</a>
              </li>

                <!-- drop down menu start -->
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item">Account</a>
                    <!-- First  Drop Down -->
                    <ul>
                        <li (click)="hidemenu()" class="nav-item">
                            <a routerLink="/profile" class="  menu-item">profile</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a routerLink="/upload" class="  menu-item">manage uploads</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a routerLink="/logout" class="  menu-item">Log out</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
