<section id="intro-wrap" class="intro1Wrap  text-left text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 intro1LeftSection pb-5">
        <h1 class=" font-weight-bold text-white text-42 mb-3 t-shadow">
          English Learners Classroom
        </h1>
        <p class=" text-20 mb-4">
          Make your classroom fun with clean and intuitive worksheets
        </p>
        <div class=" mb-5 lead">
          <ul class="list-inline">
            <li class=" mb-3 ">
              <i class="eva eva-checkmark-outline mr-2 text-warning"></i>
              Customisable doc worksheets
            </li>

            <li class="mb-3">
              <i class="eva eva-checkmark-outline mr-2 text-warning"></i>
              Clean pdfs worksheets
            </li>
            <li class="mb-3">
              <i class="eva eva-checkmark-outline mr-2 text-warning"></i>
              Interactive lessons and games PowerPower slides.
            </li>
          </ul>
        </div>
        <div class="intro1Buttons">
          <a scrollTo="worksheet-wrap"
            class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button">
            Worksheets
          </a>
          <a  scrollTo="ppt-wrap"   class="btn btn-warning btn-lg pl-5 pr-5 pb-2 mb-4 text-uppercase
              half-button" href="#" role="button">
            PowerPoints
          </a>
        </div>
      </div>
      <div class="col-md-6  intro1RightSection d-flex align-items-center ">
        <div class="intro1ProductImage">
          <img src="./assets/images/landing/svg/v1-header.svg" class="img-responsive" alt [@animate]="{
              value: '*',
              params: {
                x: '200px',
                opacity: '0',
                delay: '100ms',
                duration: '500ms'
              }
            }" />
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
