<nav id="home-header" [ngClass]="{'header-fixed': isFixed}" class="navbar navbar-expand-lg text-16 ">
    <div class="container">


        <div class="d-flex justify-content-between flex-grow-1 mobile_menu">

            <a class="navbar-brand-two    d-inline-block" href="#" scrollTo="intro-wrap">
                <img src="assets/images/landing/lOGO_d/logo_white.png" alt="logo">
            </a>
            <div class=" text-right">
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    <i class="eva eva-menu-outline text-30 text-white d-none d-md-block"></i>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>

                </button>
            </div>
        </div>
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="enter a keyword to search for worksheet e.g: animals" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-outline-warning" type="submit">
                            <i class=" fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>

        <div class="collapse  navbar-collapse flex-grow-1 text-right"
             id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item" (click)="hidemenu()">
                    <a href="#" scrollTo="worksheet-wrap" class="nav-link m-2 menu-item nav-active">Worksheets</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="ppt-wrap" class="nav-link m-2 menu-item nav-active">PowerPoints</a>
                </li>

                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="contacts-wrap" class="nav-link m-2 menu-item">Leave a suggestion</a>
                </li>

                <!-- drop down menu start -->
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item">Account</a>
                    <!-- First  Drop Down -->
                    <ul>
                        <li (click)="hidemenu()" class="nav-item">
                            <a routerLink="/profile" class="  menu-item">profile</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a routerLink="/admin" class="  menu-item">manage uploads</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a routerLink="/logout" class="  menu-item">Log out</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
</nav>
