
<div class="container-fluid mt-4 pt-4">
  <div class="row">

    <div class="col-8 text-center">
      <pdf-viewer class="file-previewer"
                  [src]="imSrc" style="display: block" [render-text]="true">
      </pdf-viewer>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <h3>
        Worksheets Upload
      </h3>
      <p>Every uploaded materials will be available for public use after
        been reviewed and approved
      </p>
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="form-group">
          <h4>Please choose a file for upload</h4>
          <input type="file" class="form-control" formControlName="file" #fileUpload
               (change)="previewFile($event)">
          <div class="text-danger" *ngIf="isSubmitted && formControls.file.errors?.required">
            Please choose a file to upload</div>
          <p>Please choose a file to upload <span class="text-warning">(pdfs, docs, or ppts)</span> </p>
        </div>

        <h5>Topic</h5>
        <div class="form-group">
          <select class="form-control"  formControlName="topic">
          </select>
          <div class="text-danger" *ngIf="isSubmitted && formControls.topic.errors?.required">
            Choose a topic for this material
          </div>
        </div>

        <h5>Category</h5>
        <div class="form-group">
          <select class="form-control" formControlName="category">
          </select>
          <div class="text-danger" *ngIf="isSubmitted && formControls.category.errors?.required">
            Please select category for this material
          </div>
        </div>

        <h5>Students level</h5>
        <div class="form-group">
          <select class="form-control" formControlName="studentsLevel">
            <option>select students level</option>
            <option>pre-school</option>
            <option>Kindergarten</option>
            <option>Elementary</option>
            <option>Intermediate</option>
            <option>Advanced</option>
            <option>Others</option>
          </select>
          <div class="text-danger" *ngIf="isSubmitted && formControls.studentsLevel.errors?.required">
            Please specify students level for this material.
          </div>
        </div>

        <div class="form-group">
          <h5>Description</h5>
          <textarea class="form-control" formControlName="description"></textarea>
          <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">
            Please give a brief description of the material</div>
        </div>

        <div class="form-group">
          <button type="submit" value="upload" class="btn btn-block btn-gradient">
            <i class="fa fa-fw fa-upload"></i> Upload </button>
        </div>
      </form>
    </div>

  </div>

</div>

