<section id="worksheet-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 section-header mb-5">
                <h2 class="font-weight-bold">Worksheets for all levels</h2>
                <p>Explore  worksheets according to the level of your students</p>
            </div>
          <div class="col-md-4 section-header mb-5">
            <a routerLink="/elc/resource"
               class=" pl-5 pr-5 pt-2 pb-2 ">View all worksheets <i class=" fa fa-arrow-circle-o-right"
              aria-hidden="true"></i></a>
          </div>

        </div>
          <div class="row">
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header p-0 text-center ">
                      <a routerLink="/worksheets/kindergartens">
                        <img class="img-responsive" src="./assets/images/landing/services/preschool3.jpg">
                      </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Age 0-5</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet additional adipiscing elit Aenean commodo ligula</p>

                    </div>
                    <div class="card-footer pl-3">
                      <a routerLink="/worksheets/kindergartens" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Explore</a>
                    </div>
                </div>
            </div>


            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">
                      <a routerLink="/worksheets/kindergartens">

                        <img class="img-responsive" src="./assets/images/landing/services/preschool4.png">
                      </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Age 5-7</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                    <div class="card-footer pl-3">
                      <a routerLink="/worksheets/kindergartens" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Explore</a>
                    </div>
                </div>
            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">
                      <a routerLink="/worksheets/teenagers">

                        <img class="img-responsive" src="./assets/images/landing/services/teens2.jpg">
                      </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Age 7-12</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                    <div class="card-footer pl-3">
                      <a routerLink="/worksheets/teenagers" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Explore</a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">


                    <div class="card-header p-0 text-center ">
                      <a routerLink="/worksheets/adults">

                        <img class="img-responsive" src="./assets/images/landing/services/adults2.jpg">
                      </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Teens and Adults</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                    <div class="card-footer pl-3">
                      <a routerLink="/worksheets/adults" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
