<section id="ppt-wrap" class="news-two-wrap light-gray p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Teaching and Games PowerPoint</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus,
                    laboriosam sint dolorum aspernatur libero.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-4">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                      <a  routerLink="/powerpoint/kindergartens">
                        <img class="card-img" src="./assets/images/landing/news/kider-ppt1.jpg" alt="Card image">
                      </a>
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                          <a routerLink="/powerpoint/kindergartens">
                            <h3 class="m-0 text-capitalize font-weight-bold">For Kindergartens</h3>
                          </a>
                        </div>

                        <div class="font-weight-light pb-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae reprehenderit, sequi
                                quisquam repellendus corporis adipisci veniam! Mollitia suscipit excepturi laboriosam
                                rem ut voluptas.
                            </p>

                            <a routerLink="/powerpoint/kindergartens" class="btn  btn-gradient half-button">Explore Slides</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-0">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                      <a routerLink="/powerpoint/adults">
                        <img class="card-img" src="./assets/images/landing/news/adults-ppt2.jpg" alt="Card image">
                      </a>
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                          <a routerLink="/powerpoints/adults">
                            <h3 class="m-0 text-capitalize font-weight-bold">For Teenagers and Adults</h3>
                          </a>
                        </div>
                        <div class="font-weight-light pb-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae reprehenderit, sequi
                                quisquam repellendus corporis adipisci veniam! Mollitia suscipit excepturi laboriosam
                                rem ut voluptas.
                            </p>
                            <a routerLink="/powerpoints/adults" class="btn  btn-gradient half-button">Explore Slides</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>

    </div>
</section>
