<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class=" ">
                        <h4 class="card-title font-weight-bold">Worksheet</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning">
                                  <a href="#">Kindergartens</a></i></li>

                              <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning">
                                <a  routerLink="/adults">Teens and Adults</a></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">PowerPoints</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                              <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning">
                                <a routerLink="/">Lesson Slides</a></i></li>
                              <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning">
                                <a href="#">Game Slides</a></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">Contact Info</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>UI-Lib ,United Kingdom</li>
                            </ul>
                        </div>
                        <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="#"><i
                                        class="eva eva-facebook"></i></a>

                                <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
