<!--
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 px-1 position-fixed sidenav bg-danger">
      <h2>Search by Topic</h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control"
               placeholder="enter a topic to search"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-gradient" type="button">Search</button>
        </div>
      </div>

      <div class="text-white">
        <h2>Worksheets</h2>



        <a class="text-white" [routerLink]="'kindergartens'" routerLinkActive="active">Kindergartens</a>

        <a class="text-white" [routerLink]="'intermediates'" routerLinkActive="active">Elementary</a>

        <a class="text-white" [routerLink]="'advanced'" routerLinkActive="active">Advanced</a>
        <a class="text-white" [routerLink]="'all-worksheets'" routerLinkActive="active">All Levels</a>


      </div>
    </div>

    <div class="col offset-2" id="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->




<div class="container-fluid">
  <div class="row">
    <aside class="col-2 px-3  position-fixed">

      <div class="list-group w-100 sidenav">
        <h2>Worksheets</h2>
        <a class="list-group-item" [routerLink]="'kindergartens'" routerLinkActive="active">Kindergartens</a>

        <a class="list-group-item" [routerLink]="'elementary'" routerLinkActive="active">Elementary</a>

        <a class="list-group-item" [routerLink]="'intermediates'" routerLinkActive="active">Intermediate</a>

        <a class="list-group-item" [routerLink]="'advanced'" routerLinkActive="active">Advanced</a>

        <a class="list-group-item" [routerLink]="'all-worksheets'" routerLinkActive="active">All Levels</a>


        <h2>Powerpoint</h2>
        <a class="list-group-item" [routerLink]="'kindergartens-ppt'" routerLinkActive="active">Kindergartens</a>

        <a class="list-group-item" [routerLink]="'elementary-ppt'" routerLinkActive="active">Elementary</a>
        <a class="list-group-item" [routerLink]="'intermediate-ppt'" routerLinkActive="active">Intermediate</a>

        <a class="list-group-item" [routerLink]="'advanced-ppt'" routerLinkActive="active">Advanced</a>

        <a class="list-group-item" [routerLink]="'all-powerpoints'" routerLinkActive="active">All Levels</a>
      </div>
    </aside>
    <main class="col offset-2 h-100">
      <div class="row">
        <div class="col-12 py-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>


</div>
