
.sidenav {
  padding-top: 100px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}
.list-group>.active{
  background-color: #f30c55;
  color: #ffffff;
  border-color: #f30c55;
}
.list-group>.active :hover{
  color: #ffffff;
}

.sidenav a:hover {
 color: #064579;
}

.main {
  margin-left: 140px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

