<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Our Exciting Features</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row">


                        <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Time Tracking</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-shopping-bag-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Sales Report</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-lock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Data Safety</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-people-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Contracts</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                </div>

            </div>
            <!-- end of col-6 -->
            <div class="col-md-12 col-sm-12 col-lg-5 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">
            </div>

        </div>
    </div>
</section>
